@model IList<Upstack_MVC_API.ViewModel.PersonViewModel>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<div class="jumbotron">
    @using (Html.BeginForm("CreatePerson", "Home", FormMethod.Post,
                                      new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.TextBox("FirstName", null, new { @class = "form-control firstName", })
        @Html.TextBox("LastName", null, new { @class = "form-control lastName" })
        <input type="submit" value="CreatePerson" />
    }

</div>

<div class="jumbotron">
    <span style="color:burlywood">Persons List</span>
    @foreach (var item in Model)
    {

        <div>

            <p>
                @item.FirstName &nbsp; @item.LastName <a href="Home/Update/@item.Id">Update</a> &nbsp; <a href="Home/Delete/@item.Id">Delete</a>
            </p>
        </div>
    }

</div>
<script>
    $(document).ready(function () {
        var url = window.location.href
        if (url.length > 4) {
            url = url.split("/")
            var location = "";
            for (var i = 0; i < url.length - 2; i++) {
                if (i == 0) {
                    url[i] = url[i] + "//"
                }
                location += url[i];
            }
            window.location.href = location;
            $(".firstName").val();
            $(".lastName").val("");
        }
        
    })
</script>

